<header>

<link rel="stylesheet" href="/css/partials/navbar.css">

<div class="navbar">

  <div class="brand">
    <a href="/">TAS</a>
  </div>
  
  <span class="separatelinetitle"></span>

  <nav id="menu">
    <a href="javascript:void(0)" class="close" onclick="closeNav()">&times;</a>

    <div class="menu-items">
        <a href="/" target="_self">Home</a>
        <a href="/places" target="_self">Map</a>
        <a href="/newPlace" target="_self">Add a Place</a>
        <a href="/recommendations" target="_self">Recommendations</a>
        <a href="/contact" target="_self">Contact us</a>
    </div>
  </nav>
  <span style="font-size:30px;cursor:pointer" class="open" onclick="openNav()">&#9776;</span>
</div>

<script src="/js/partials/navbar.js"></script>