<header>
  <nav>
    <a href="/" target="_self">Home</a>
    <a href="/map" target="_self">Map</a>
    <a href="/newPlace" target="_self">Add a Place</a>
    <a href="/recommendations" target="_self">Recommendations</a>
    <a href="/contact" target="_self">Contact us</a>
  </nav>
</header>
