<link rel="stylesheet" href="/css/contact.css">


<div class="contact-parent">
	<div class="contact-child child1">
		<p>
			<i class="fas fa-map-marker-alt"></i> Adresse <br />
			<span> 62 Avenue Notre Dame du Lac
				<br />
				49000 Angers, France
			</span>
		</p>
		<p>
			<i class="fas fa-phone-alt"></i> Let's Talk <br />
			<span> +33 6 52 52 61 52</span>
		</p>

		<p>
			<i class="far fa-envelope"></i> General Support <br />
			<span>takeaseat@nedel.ec</span>
		</p>
	</div>

	<div class="contact-child child2">
		<div class="inside-contact">
			<h2><%= page %></h2>

			<form id="form" method="post" enctype="multipart/form-data">

				<p>Name *</p>
				<input id="nom" type="text" name="nom" placeholder="Ton pseudo" required>

				<p>Message *</p>
				<textarea id="msg" type="text" name="msg" placeholder="Dis nous tout !" rows="10" cols="20" required></textarea>
				
				<input class="sub_btn" type="submit" value="Envoyer" />

			</form>
		</div>
	</div>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/contact.js"></script>