<link rel="stylesheet" href="/css/contact.css">


<div class="contact-parent">
	<div class="contact-child child1">
		<p>
			<i class="fas fa-map-marker-alt"></i> Adresse <br />
			<span> 62 Avenue Notre Dame du Lac
				<br />
				49000 Angers, France
			</span>
		</p>
		<p>
			<i class="fas fa-phone-alt"></i> Let's Talk <br />
			<span> 06 52 52 61 52</span>
		</p>

		<p>
			<i class=" far fa-envelope"></i> General Support <br />
			<span>takeaseat@nedel.ec</span>
		</p>
	</div>

	<div class="contact-child child2">
		<div class="inside-contact">
			<h2><%= page %></h2>
			<h3><span id="confirm"></h3>

			<p>Name *</p>
			<input id="txt_name" type="text" Required="required">

			<p>Email *</p>
			<input id="txt_email" type="text" Required="required">

			<p>Phone *</p>
			<input id="txt_phone" type="text" Required="required">

			<p>Subject *</p>
			<input id="txt_subject" type="text" Required="required">

			<p>Message *</p>
			<textarea id="txt_message" rows="4" cols="20" Required="required" ></textarea>
			
			<input type="submit" id="btn_send" value="SEND">
		</div>
	</div>
</div>