<link rel="stylesheet" href="/css/home.css">

<H1><%= page %></H1>

<p>Take a Seat is an incredible app that will allow you see the number of people in a place. We offer you your own time.</p>

<img id="logo_tas" src="/media/img/logo_tas_bleu.svg" alt="Logo de Take A Seat">