<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
<link href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" rel="stylesheet"/>

<div id="osm-map"></div>


<style>
    .navbar{
        margin: 0;
    }
    main{
        width: 100%;
        top: 0;
        bottom: 0;
        padding: 0;
        position: fixed;
    }
    #osm-map{
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .leaflet-control-zoom { position: fixed; right: 1vh; bottom: 45vh;} 
</style>

<script>
    // Where you want to render the map.
var element = document.getElementById('osm-map');

// Create Leaflet map on map element.
var map = L.map(element);

// Add OSM tile layer to the Leaflet map.
L.tileLayer('http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

// Target's GPS coordinates.
var target = L.latLng('47.4732881', '-0.5585604');

// Set map's center to target with zoom 14.
map.setView(target, 14);

// Place a marker on the same location.
L.marker(target).addTo(map);

</script>