
.navbar{
    width: 100%;
    background-color: white;
    opacity: 0.75;
    margin:0 0 20px 0;
    display: flex;
    align-items: center;
    transition: 0.5s;
    position: relative;
    z-index: 10000;
  }
  
  nav a{
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  
  .brand{
    float: left;
    margin: 10px 0 10px 20px;
  }
  .menu-items a{
    font-size: 1em;
  }
  
  .brand a{
    font-size: 2.5vw;
    float: left;
    text-decoration: none;
    opacity: 0.5;
    transition: 0.5s;
  }
  
  .menu-items>a{
    float: left;
    text-decoration: none;
    opacity: 0.5;
    transition: 0.5s;
    margin: 0 6px;
  }

    
  .menu-items>a:hover{
    margin: 0 20px;
  }
  
  a:hover{
    opacity: 1;
  }
  
  .open, .close{
      display:none;
  }
  
  .separatelinetitle {
    margin: 0 0 0 20px;
    border-left: 3px solid lightgrey;
    height: 25px;
  }
  
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width:100%;
    height: auto;
  }
  
  nav a,
  nav a:visited,
  nav a:hover,
  nav a:active,
  nav a:focus {
    border-bottom: 1px solid #006f8e;
    padding: 8px;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 991px) {
  
    .open, .close{
      display:block;
      margin-left: auto;
      margin-right: 20px;
    }
  
    .navbar{
      opacity: 1;
    }
  
    .brand a{
      font-size: 5vw;
    }
  
    #menu {
      height: 0;
      width: 100%;
      position: fixed;
      z-index: 3;
      top: 0;
      left: 0;
      background-color: black;
      overflow-y: hidden;
      transition: 0.5s;
    }
  
    .menu-items {
      position: relative;
      vertical-align: middle;
      text-align: center;
      top: 50%; left: 50%;
        transform: translate(-50%,-50%);
    }
  
    #menu a {
      float: none;
      padding: 8px;
      margin: 1vh 0;
      text-decoration: none;
      font-size: 5vw;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
  
    #menu a:hover, #menu a:focus {
      color: #006f8e;
    }
  
    #menu .close {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 60px;
    }
  
    nav{
      display: block;
    }
  
    nav a,
    nav a:visited,
    nav a:hover,
    nav a:active,
    nav a:focus {
      border-bottom: none;
    }
    
  }